.links
{
    font-size: 18px;
    list-style-position: inside;
}

.image-label
{
    font-size: 20px;
    color: black;

}

.image 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    border: 5px solid rgb(0, 0, 0);
}

.title
{
    font-size: 50px;
    color:black;
}

body 
{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}